---

interface Props {
    text: string,
    classList: string[]
}

const {
    text,
    classList,
    ...rest
} = Astro.props as Props;
---

<button class:list={classList}{...rest}>
    {text}
</button>