---
interface Props {
    text: string,
    href: string,
    style: string,
}

const {
    text,
    href,
    style,
    ...rest
} = Astro.props as Props;
---

<a
    class:list={[
        style
    ]}
    href={href}
    {...rest}>
    {text}
    
</a>